<section class="orders-show">

  <header class="page-header">
    <h4>Thank you for your order!</h4>
  </header>
  <div class="panel-default">
    <table class="table table-bordered">
    <h2>Your Order Confirmation Was Sent To: </h2>
    <h4><%= @order.email%></h4>
      <thead>
        <tr>
          <th colspan="2">Purchased Product</th>
          <th>Quantity</th>
          <th>Unit Price</th>
        </tr>
      </thead>
      <tbody>
        <% @order.line_items.each do |item| %>
          <%= render 'line_item', product: item.product, order: item %>
        <% end %>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">
            TOTAL:
          </th>
          <th>
             <%= humanized_money_with_symbol @order.total_cents / 100.0 %>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>
</section>
